:host {
  --background: #1c1c1c;
  --primary: #008080;
  --secondary: #ff7f50;
  --accent: #40e0d0;
  --text: #eeeeee;
  --border-divider: #333333;

  @media (prefers-color-scheme: light) {
    --background: #ffffff;
    --primary: #008080;
    --secondary: #ff7f50;
    --accent: #40e0d0;
    --text: #333333;
    --border-divider: #e0e0e0;
  }

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  gap: 1rem;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid var(--border-divider);
  border-radius: 8px;
  max-width: 800px;
  width: 100%;
  height: calc(100dvh - 2rem);
  margin: auto;

  .active {
    background-color: var(--secondary)!important;
  }

  .toolbar {
    box-sizing: border-box;
    background-color: var(--primary);
    padding: 0.5rem;
    border-bottom: 1px solid var(--border-divider);
    display: flex;
    gap: 1rem;
    height: 50px;
    border-radius: 8px 8px 0 0;
    flex-wrap: wrap;
    align-items: center;

    .toolbar-divider {
      width: 1px;
      height: 18px;
      background-color: var(--text);
    }

    .toolbar-section {
      display: flex;
      align-items: center;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      padding: 0.4rem;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
      transition: background 0.3s ease-in-out;

      &:hover {
        background: var(--secondary);
      }
    }
  }

  input {
    padding: 0.5rem 0.5rem;
    outline: none;
    margin: 0 0.5rem;
    background: none;
    border: none;
  }

  hr {
    width: calc(100% - 2px);
    color: var(--border-divider);
    margin: 0;
  }

  #editor {
    flex: 1;
    min-height: 200px;
    border-radius: 0 0 8px 8px;
    padding: 0 1rem 1rem 1rem;
    outline: none;
    position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: auto;

    &:empty::before {
      content: attr(data-placeholder);
      color: var(--primary);
      pointer-events: none;
    }
  }

  * {
    scrollbar-width: none;
  }
}